div {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: stretch;
  align-content: space-between;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgb(62, 52, 118);
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  align-content: space-between;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid rgb(245, 244, 244);
  :last-child {
    color: rgb(62, 52, 118);
    margin-left: 2rem;
  }
  .logo {
    margin-left: 1rem;
    width: 60px;
    height: 60px;
  }
}

.body-container {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: 100%;
  .create-job {
    .create-job-elements {
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      display: flex;
      .create-job-element {
        display: grid;
        align-content: center;
        margin-right: 1rem;
        height: 100%;
        width: 100%;
        .job-input {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          border: 1px solid #ccc;
          height: 30px;
          font-size: 20px;
          color: rgb(62, 52, 118);
        }
      }
      .job-button {
        margin-top: 3.6rem;
        border: none;
        font-size: 16px;
        color: #fff;
        border-radius: 3px;
        background-color: #5978a9;
        height: 40px;
        width: 200px;
      }
    }
  }
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(244, 244, 244);
}
